// variáveis
@gold:	#f1c600;
@gold-transp:  rgba(241,194,50,.15);
@orange:#eb8f26;
@gray:	#434343;

* {
	box-sizing: border-box;
}
.anima {
	transition: all ease-in-out .25s;
}
.vidro {
	background-color: rgba(241,194,50,.1);
	backdrop-filter: blur(5px);
	border-top: .5px solid @gold-transp;
	border-left: .5px solid @gold-transp;
}
//
@media only screen and (orientation:portrait){
	body {
	  height: 100vw;
	  transform: rotate(90deg);
	}
  }
  //font
  @import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
html {
	background-color: #222;
	//scroll automatico
    scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;	
	font-family: 'Comfortaa', cursive;
}
a, button {
	cursor: pointer;
}
body { 
	background-color: #222;
	height: 100vw;	
	overflow-x: visible;
	overflow-y: hidden;
	display: flex;
	align-items: left;
	margin:0;
	padding: 0;
	font-family: 'Comfortaa', cursive;
	color:@gold;
}
.nav-bottom {
	overflow-y: hidden;
	width: 100%;
	position: fixed;
	bottom:0;
	z-index:9999;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	button, a {
		border: 1px solid transparent;
		background-color: transparent;
		font-weight: bolder;
		text-transform: uppercase;
		color: white;
		text-decoration: none;
		transition: all ease-in-out .3s;
		font-size:14px;
		padding: 1px 6px;
		&:hover, &:focus, &.active {
			outline: unset;
			transition: all ease-in-out .3s;
		}
		&#btHome, &#btCareer, &#btWorks,&#btMe, &#btVolta {
			&:hover, &:focus, &.active {
				// border: 1px solid white;
				color: @gold;
				background-color: @gray;				
			}
		}		
	}
}
.container {
	// width: min(100%, 95%);	
}
#text {
	display: inline-block;
	vertical-align: middle;
	color: @gold;	
	font-size: 82px;				
	margin: 220px 0px 20px;	
	position: relative;				
	padding: 5px 8px 0px;
	color:@gold;
}

#cursor {	
	margin: 220px 0px 20px;	
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 90px;
	background-color: @gold;
	animation: blink .25s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: @gold; 
	}
}
#links-sociais {
	position: fixed;
	bottom: 20px;
	left: 15px;	
	z-index: 10000;
	margin: auto;
	a {	
		margin: 0 5px;
		color:white;
		padding: 1px 2px 0px;
		&:hover {
			color: @gold;
			background-color: @gray;
		}
	}

  }	 
section {
	min-width: auto;
	max-width: auto;
	height: 100vh;
	max-height: 100%;
	float: left;	
		
	// color: @gold;
	background-color: #222;
	.container {
		display: flex;
  		flex-direction: row;
  		flex-wrap: nowrap;
  		width: 100%;
		padding: 1.4em 2.4em;
		gap: 1em;
		.col {
			flex-wrap: nowrap;
			// justify-content: space-between;	
			display: flex;
  			flex-direction: column;
  			flex-basis: 90%;
  			flex: 1;	  		
		  	width: 45ch;			  
		}		
	}
	.container.titulo {
		// height: 140px;
	}
	h2 {
		font-size: 31px;		
		margin: 20px 0px 20px;
		display: block;
		text-transform: uppercase;		
		position: relative;		
		background-color: @gold;
		padding: 5px 8px 0px;	
		transform-style: preserve-3d;		
		cursor: grabbing;
		span {
			color:@gray;	
			transform: translateZ(40px);
		}
	}
	h3 {
		// color:#eee;
		margin: 0 0 15px;
	}
	p {
		// color: #eee;
		font-size: 1em;
		margin:0;
	}
	.cta {
		color:@gold;
		.vidro();
		// border: 1px @gold solid;
		text-transform: uppercase;
		font-weight: bolder;
		padding: 21px 21px 17px;
		text-decoration: none;
		width: 180px;
		text-align: center;
		margin-top: 40px;
		.anima();
		&:hover {
			.anima();
			background-color: @gold;			
			color: @gray;
			box-shadow: 0 0 1em 0 @gold, 0 0 2em 0 @gold, 0 0 4em 0 @gold; 
		}
		&:focus {
			outline:unset;
			box-shadow: 0 0 .1em 0 @gold, 0 0 .2em 0 @gold, 0 0 .4em 0 @gold; 
		}
	}
}
  .moving-mouse-holder {
	margin: auto;
	// margin-top: 60px;
	position: fixed;
	bottom: 20px;
	right: 5px;
	width: 170px;
	.mouse {
		width: 21px;
		height: 32px;
		position: relative;
		right: 0;
		border-radius: 18px;
		border: 2px solid white;
	  }
	  .mouse-button {
		background-color: white;
		width: 4px;
		height: 6px;
		border-radius: 2px;
		position: absolute;
		top: 7px;
		left: 50%;
		margin: 0 0 0 -2px;
		animation: mouse-scroll 1s infinite alternate;
	  }
	  .text {
		margin-top: -30px;
		margin-left: 40px;
		font-size: 12px;
		line-height: 1em;
		color: white;
	  }
	  @keyframes mouse-scroll {
		to {
		  transform: translate(0, 3px) scale(1, 0.4);
		}
	  }
  }	
#home {
	background: url('../imgs/bg-home.jpg') top/cover no-repeat;	
	min-width: 100vw;
	video {
		position: absolute;
		top:0;
		left:0;
		min-height: 100%;
		min-width: 100%;			
	}	
	h2 {
		background-color: transparent;
		text-transform: none;
		color: @gold;
	}
	   
}
#content1, #content1b {	
	.skills {
		margin-top: -50px;
		margin-left: 150px;
		width: 700px;
		h3 {
			// background-color: @gray;
			text-transform: uppercase;
			// padding: 1px 2px 0px;
			// width: 0px;
		}
		img {
			width: 400px;
			height: auto;
		}
	}
}
#content2, #content2b {		
	background: url('../imgs/bg-2.jpg') top/cover no-repeat;	
	width: 1350px;
	min-width: 1350px;
	.cliente {
		display: block;
		margin: -30px 0px;	
		p{
			font-size: 21px;
		}
	}
	.col {
		// width: 45ch;
		.bloco {
			width: 30ch;
			height: 170px;
			h3 {
				margin: 40px 0 10px;
				font-weight: bold;
				font-style: italic;
				position: relative;
				z-index: 10;
				left:0;
				.fas {
					position: relative;
					
					&.fa-location-arrow {
						transform: rotate(180deg);
						z-index: 12;
						font-size: 14px;
						// color: ivory;
						right:-1.57em;
						
						top:-.57em;
					}
					&.fa-bullseye {
						z-index: 11;
						

					}
				}
			}	
			ul {
				list-style: square;
			}
			p, ul li{font-weight: 100;}
		}
		&.img {
			margin-top:0px;
			margin-left:-20px;
			img {
				width: 300px;
				height: auto;	
			}
		}
	}
}
#content2b {
	background: url('../imgs/bg-3.jpg') top/cover no-repeat;	
}
#content3 {
	min-width: 1280px;
}
#safra, #safra2, #footstats, #footstats2 {
	overflow-y: hidden;
	overflow:hidden;
	// margin-top: 250px;
	// min-width: 1280px;
	min-width: 100vw;
	.col {		
		&.img {
			text-align: center;
			img { 
				border: 2px solid @gold;
				height: auto; width: 80%;
			}
		}
		&.img2 {
			text-align: center;
			img {
				border: 2px solid @gold;
				// height: 100px;
				width: 50%!important;
	
			}
		}
		iframe {
			margin-top:-50px;
		}
	}

}
.safra-bg {
	// background: url('../imgs/bg-2.jpg') center/cover no-repeat;	
}
.footstats-bg {
	background: url('../imgs/bg-3.jpg') bottom/cover no-repeat;	
}
//ScrollBar 
/* width */
::-webkit-scrollbar {
	height: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
	background: #333; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #444; 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }


  #myVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	 background-color: black; /* in case the video doesn't fit the whole page*/
	//   background-image: ;
	  background-position: center center;
	  background-size: contain;
	   object-fit: cover; /*cover video background */
	   
}



// ?? GLASS 
.vidro(@cor, @borda, @fundo,) {

}