// variáveis
@gold:	#f1c600;
@orange:#eb8f26;
@gray:	#434343;
//
@media only screen and (orientation:portrait){
	body {
	  height: 100vw;
	  transform: rotate(90deg);
	}
  }
  //font
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
html {
	background-color: #222;
	//scroll automatico
    scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;	
	font-family: 'Comfortaa', cursive;
}
a, button {
	cursor: pointer;
}
body { 
	background-color: #222;
	height: 100vw;	
	overflow-x: visible;
	overflow-y: hidden;
	display: flex;
	align-items: left;
	margin:0;
	padding: 0;
	font-family: 'Comfortaa', cursive;
}
.nav-bottom {
	width: 100%;
	position: fixed;
	bottom:0;
	z-index:9999;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	button {
		border: 1px solid transparent;
		background-color: transparent;
		font-weight: bolder;
		text-transform: uppercase;
		color: white;
		transition: all ease-in-out .3s;
		&:hover, &:focus, &.active {
			outline: unset;
			transition: all ease-in-out .3s;
		}
		&#btHome, &#btCareer, &#btWorks,&#btMe {
			&:hover, &:focus, &.active {
				// border: 1px solid white;
				color: @gold;
				background-color: @gray;				
			}
		}		
	}
}
.container {
	// width: min(100%, 95%);	
}
section {
	min-width: auto;
	max-width: auto;
	height: 100vh;
	max-height: 100%;
	float: left;	
		
	// color: @gold;
	background-color: #222;
	.container {
		display: flex;
  		flex-direction: row;
  		flex-wrap: nowrap;
  		width: 100%;
		padding: 1.4em;
		gap: 1em;
		.col {
			flex-wrap: nowrap;
			justify-content: space-between;	
			display: flex;
  			flex-direction: column;
  			flex-basis: 90%;
  			flex: 1;	  		
		  	width: 45ch;			  
		}
	}
	.container.titulo {
		height: 140px;
	}
	h2 {
		font-size: 82px;		
		margin: 20px 0px 60px;
		// color:white;
		position: relative;		
	}
	h3 {
		// color:#eee;
		margin: 0 0 15px;
	}
	p {
		// color: #eee;
		font-size: 1em;
		margin:0;
	}
	
}
#home {
	background: url('../imgs/bg-home.jpg') top/cover no-repeat;
	color: @gold;
	min-width: 100vw;
	video {
		position: absolute;
		top:0;
		left:0;
		min-height: 100%;
		min-width: 100%;			
	}
	.moving-mouse-holder {
		margin: auto;
		// margin-top: 60px;
		position: fixed;
		bottom: 20px;
		right: 5px;
		width: 170px;
		.mouse {
			width: 26px;
			height: 36px;
			position: relative;
			right: 0;
			border-radius: 18px;
			border: 2px solid white;
		  }
		  .mouse-button {
			background-color: white;
			width: 4px;
			height: 6px;
			border-radius: 2px;
			position: absolute;
			top: 7px;
			left: 50%;
			margin: 0 0 0 -2px;
			animation: mouse-scroll 1s infinite alternate;
		  }
		  .text {
			margin-top: -30px;
			margin-left: 40px;
			font-size: 12px;
			line-height: 1em;
			color: white;
		  }
		  @keyframes mouse-scroll {
			to {
			  transform: translate(0, 3px) scale(1, 0.4);
			}
		  }
	  }	  
}
#content1, #content1b {
	// background-color:brown;
	background: url('../imgs/bg-2.jpg') top/cover no-repeat;
	color: @gold;
	// position: relative;
}
#content2 {
	.work {
		
	}
}
#content3 {

}

//ScrollBar 
/* width */
::-webkit-scrollbar {
	height: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
	background: #333; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #444; 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }


  #myVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	 background-color: black; /* in case the video doesn't fit the whole page*/
	//   background-image: ;
	  background-position: center center;
	  background-size: contain;
	   object-fit: cover; /*cover video background */
	   
}